<!--头部文件-->
{include file="public/head" /}

<body>
  <section id="container" class="">
    <!--头部栏-->
    {include file="public/header"}
    <!--侧边栏-->
    {include file="public/sidebar"}
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!-- page start-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                通道管理 LIST <a href="/admcncp/tongdaoAdd"> <button type="button" class="btn btn-danger btn-xs pull-right">添加 通道</button></a>
              </header>
              <div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="panel-body">
                  <div class="col-sm-6"></div>
                </div>
                <table class="table table-striped border-top dataTable" id="sample_1" aria-describedby="sample_1_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting" style="width: 50px;">id</th>
                      <th class="sorting" style="width: 100px;">道通</th>
                      <th class="sorting" style="width: 200px;">道通名称</th>
                      <th class="sorting" style="width: 50px;">商户ID</th>
                      <th class="sorting" style="width: 150px;">公钥名称</th>
                      <th class="sorting" style="width: 150px;">私钥名称</th>
                      <th class="sorting" style="width: 100px;">私钥密码</th>
                      <th class="sorting" style="width: 123px;">支付手续费</th>
                      <th class="sorting" style="width: 123px;">提现手续费</th>
                      <th class="sorting" style="width: 123px;">状态</th>
                      <th class="sorting" style="width: 123px;">利润余额</th>
                      <th class="sorting" style="width: 123px;">限额</th>
                      <th class="sorting" style="width: 228px;">操作</th>
                    </tr>
                  </thead>

    
         
{foreach name="list" item="vo"}
                  <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr class="odd gradeX">
                      <td class=" ">{$vo.td_id}</td>
                      <td class=" ">{$vo.tdn_tdname}</td>
                      <td class=" ">{$vo.td_mingcheng}</td>
                      <td class=" ">{$vo.td_sd_shanghuid}</td>
                      <td class=" ">{$vo.td_sd_gongshi}</td>
                      <td class=" ">{$vo.td_sd_sishi}</td>
                      <td class=" ">{$vo.td_sd_sishimima}</td>
                      <td class=" ">{$vo.td_zhifushouxufei}</td>
                      <td class=" ">{$vo.td_tixianshouxufei}</td>
                      <td class="  ">
					{if condition="$vo.td_zhuangtai==1"}
                      启用
                      {elseif condition="$vo.td_zhuangtai==2"}
                      停用
                      {/if}                      
                      </td>
                      <td class=" ">¥{$vo.td_lirunyue}元</td>
                      <td class=" ">¥{$vo.td_xiane}元</td>
                      <td class=" ">
                        <a href="/admcncp/tongdaoEdit/{$vo.td_id}"><button type="button" class="btn btn-info btn-xs">修改</button></a>
                        <a href="/admcncp/liruntixian/{$vo.td_id}"><button type="button" class="btn btn-info btn-xs">利润提现</button></a>
                        <!--<a href="/admcncp/keyword_delete/1"><button type="button" class="btn btn-warning btn-xs">删除</button></a>-->
                      </td>
                    </tr>
                  </tbody>
 {/foreach}                  
                </table>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="dataTables_info" id="sample_1_info"><!--显示 1 至 25 条 一共300条--></div>
                  </div>
                  <div class="col-sm-6">
                    <!--<div class="dataTables_paginate paging_bootstrap pagination">
                      <ul>
                        <li class="prev disabled"><a href="#">← 上一页</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li class="next"><a href="#">下一页 → </a></li>
                      </ul>
                    </div>-->
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
  </section>
  <!--尾部文件-->
  {include file="public/foot" /}
