{include file="public/header" /} {include file="public/head" /}

<div class="container bs-docs-container" style="text-indent: 2em;">

  <div class="row">
    <div class="col-md-12">
      <br>
      <br><br>
      <h3 href="#" style="font-weight:bold;color: #003366;text-align: center">青岛鲁慧</h3>
      <div style="text-align: center">
        <img src="__STATIC__/www/img/widget.png" alt=""><br><br>
      </div>
      <div style="width: 98%;">
        <a class="miaoshu" style="width: 50%;">青岛鲁慧机械有限公司成立于2017年6月，公司位于美丽的海滨城市青岛城阳，是一家从事生产、销售规模化与现代化畜禽养殖设备的高新技术企业。公司集加工、销售机械设备及配件、供水管道、通风风机、温控设备、货物进出口、技术进出口与服务为一体，主要产品包括：鸡舍自动喂料线（料盘）、鸡舍自动饮水系统（乳头饮水线）等。
          <br>公司拥有一座现代化生产工厂，占地面积1000平方米，共有数十台数控多角度侧鑽自动机床、单轴五刀自动车床等设备，生产效率、市场占有率及销售收入在国内同行业中名列前茅。<br>
          公司以技术为核心，不断创新，与时俱进，力争在国内机械制造行业占领一席之地，并向国际一流的畜牧机械制造企业看齐。公司的销售网络遍布全国，极大促进各地规模化养殖业发展，为畜牧业发展提供设备保障，并积极与世界接轨，开发外国客户，将产品推向世界。<br>
          公司以诚信为基础，以品质为依托，本着“服务客户，奉献进取”的理念，立志推进畜牧业养殖的规范化发展，提高效率、降低成本，不断研发提高企业竞争力，为社会奉献力量。</a><br><br><br> <br>
      </div>

    </div>
  </div>
</div>
<!--qq图标-->
<div class="side-bar" style=" overflow:hidden;">
  <a href="http://wpa.qq.com/msgrd?v=3&uin=3383613453&site=qq&menu=yes"  class="icon-qq">QQ在线咨询
    <img src="__STATIC__/www/img/qq.png" style="width: 80%;height: 80%"/>
  </a>
  <a href="#top" class="head_top">
    <img src="__STATIC__/www/img/top.png"/>
  </a>
</div>
<div id="chanpin" class="container bs-docs-container" style="text-align:center;text-align: center;background-color: #3873af;width:1440px;height: 1050px">
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 87px">
      <h3 href="#" style="color:#fff;margin-top:99px;margin-bottom: 0px;font-family: SourceHanSansSC-Medium;">产品展示</h3>
      <img src="__STATIC__/www/img/juxing.png" alt="">
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">
    </div>
</div>
    <div class="bs-example" data-example-id="carousel-with-captions">
      <div id="carousel-example-captions1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox" style="text-align: center">
          {foreach $product as $key=>$vo}
          {if $key eq 0}
          <div class="item active" >
            <img data-src="{$vo.pd_img}" alt="900x500" src="__STATIC__/uploads/product/{$vo.pd_img}" data-holder-rendered="true"  style="display:inline-block;width: 536px;height: 408px;border: #ffffff 10px solid">
            <div>
              <h2 style="font-size: 36px;font-family:MicrosoftYaHei;color:#fff">{$vo.pd_title}</h2>
              <div style="width: 63%;margin-left: 19%;">
                <p class="chanpin_fubiaoti">{$vo.pd_content}</p>
              </div>
            </div>
          </div>

          {else /}
          <div class="item" style="width: 100%">
            <img data-src="{$vo.pd_img}" alt="900x500" src="__STATIC__/uploads/product/{$vo.pd_img}" data-holder-rendered="true" style="display:inline-block;width: 536px;height: 408px;border: #ffffff 10px solid">
            <div>
              <h2 style="font-size: 36px;font-family:MicrosoftYaHei;color:#fff">{$vo.pd_title}</h2>
              <div style="width: 63%;margin-left: 19%;font-size: 24px;color: #fff;font-family:MicrosoftYaHei;">
                <p class="chanpin_fubiaoti">{$vo.pd_content}</p>
              </div>
            </div>
          </div>

          {/if}

          {/foreach}
          <a class="left carousel-control" href="#carousel-example-captions1" role="button" data-slide="prev" style="left: 8%;background-image:none">
            <div class="col-md-2" style="margin-left: 40%;margin-top: 20%">
              <div class="chanpin_control">
                <img src="__STATIC__/www/img/xiaoyu.png">
              </div>
            </div>
          </a>
          <a class="right carousel-control" href="#carousel-example-captions1" role="button" data-slide="next" style="right:6%;background-image:none">
            <div class="col-md-2" style="margin-top: 20%">
              <div class="chanpin_control">
                <img src="__STATIC__/www/img/dayu.png">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>


<div id="shengchan" class="container bs-docs-container" style="text-align:center">

  <div class="row">
    <div class="col-md-12">
      <br>
      <br><br>
      <h3 href="#" style="font-weight:bold;margin-bottom: 0;">生产环境</h3>
      <img src="__STATIC__/www/img/widget.png" alt=""><br><br><br>
      {foreach $production as $key => $vo}
        {if ($key)%2 == 0}
          <div class="miao_div">
            <img src="{$imgpath_production}{$vo.pe_img}" alt="" class="luhui_img_a">
            <a class="miaoshu miaoshu_bianju" href="#">{$vo.pe_title}</a>
          </div>
      <br><br><br>
        {else /}
      <div class="miao_div">
        <a class="miaoshu miaoshu_bianju" href="#" style="float: left">{$vo.pe_title}
        </a><img src="{$imgpath_production}{$vo.pe_img}" alt="" class="luhui_img_a" style="float: right">
      </div>
      <br><br>
      <br> <br>
        {/if}
      {/foreach}
    </div>
  </div>
</div>

<div class="container bs-docs-container" style="text-align:center;text-align: center;background-color: #3873af;width: 1440px;">
  <div class="row">
    <img src="__STATIC__/www/img/hengfu.jpg" alt="">
  </div>
</div>

<div id="news" class="container bs-docs-container" style="text-align:center">

  <div class="row">
    <div class="col-md-12">
      <br>
      <br><br>
      <h3 href="#" style="margin-bottom: 0px">新闻资讯</h3>
      <img src="__STATIC__/www/img/widget.png" alt=""><br><br><br><br><br><br>
      <div class="miao_div">
        <div class="div-relative">
          <div class="div-a">
            {foreach $news as $key=>$vo}
            <div class="xinxin_div">
              <div style="width: 100%;height: 200px">
                <div class="shijian_div">
                  <div class="shijian_riqi">
                    {$vo.ns_intime|date='d',###}
                  </div>
                  <div class="shijian_yuefen">
                    {$vo.ns_intime|date='Y-m',###}
                  </div>
                </div>

                <div class="xinwen_dd">
                  <a class="miaoshu" href="/news/{$vo.ns_id}">
                    <h7>{$vo.ns_title}</h7>
                    <div  class="dot-ellipsis dot-height-50 Subtitle">
                      <h4>{$vo.ns_descript}</h4>
                    </div>
                  </a>
                </div>

              </div>
            </div>
            {/foreach}
          </div>
          <img src="{$imgpath_news}{$vo.ns_img}" alt="" class="div-b">
        </div>
      </div>


      <br><br>
      <br> <br>
    </div>
  </div>
</div>

<div class="container bs-docs-container" style="text-align:center;margin-top: 25%">
  <div class="row">
    <div class="col-md-12">
      <br><br>
      <br> <br>
      <a href="/news_list" style="text-decoration:none;color:#003366 ">
        <div class="gengduo_zixun">
         更多资讯
        </div>
      </a>
      <br><br>
      <br><br>
    </div>
  </div>
</div>
{include file="public/foot" /}
