<!--头部文件-->
{include file="public/head" /}

<body>
<section id="container" class="">
    <!--头部栏-->
    {include file="public/header"}
    <!--侧边栏-->
    {include file="public/sidebar"}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            产品展示 LIST
                            <a href="/admin/productAdd"> <button type="button" class="btn btn-danger btn-xs pull-right">添加产品展示</button></a>
                        </header>
                        <div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="panel-body">
                                <div class="col-sm-6"></div>
                            </div>
                            <table class="table table-striped border-top dataTable" id="sample_1" aria-describedby="sample_1_info">
                                <thead>
                                <tr role="row">
                                    <th class="sorting"  >id</th>
                                    <th class="sorting"  >标题</th>
                                    <th class="sorting"  >排序</th>
                                    <th class="sorting"  >图片</th>
                                    <th class="sorting" style="text-align: center" >操作</th>
                                </tr>
                                </thead>



                                {foreach name="list" item="vo"}
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr class="odd gradeX">
                                    <td class=" ">{$vo.pd_id}</td>
                                    <td class=" ">{$vo.pd_title}</td>
                                    <td class=" ">{$vo.pd_order}</td>
                                    <td class=" ">{if condition="$vo.pd_img!=''"}<img src="{$imgpath}{$vo.pd_img}" height="100">{/if}</td>
                                    <td class="hidden-phone " style="text-align: center">
                                        <a href="/admin/productEdit/{$vo.pd_id}/{$data.page}"><button type="button" class="btn btn-info btn-xs">编辑</button></a>&nbsp;&nbsp;
                                        <a href="/admin/productDel/{$vo.pd_id}/{$data.page}"><button type="button" class="btn btn-info btn-xs">删除</button></a>
                                    </td>
                                </tr>
                                </tbody>
                                {/foreach}
                            </table>
                            <div class="row">


                                <script language="javascript">
                                    function tiaosubmit()
                                    {
                                        var tiaopage=$("#page11").attr("value");
                                        if(tiaopage>0)
                                        {
                                            location.href='//product/'+tiaopage;
                                        }
                                        else
                                        {
                                            alert("页数不能小于等于0");
                                        }

                                    }
                                </script>

                                <div class="col-sm-6">
                                    <div class="dataTables_info" id="sample_1_info">一共{$data.countpage}页  当前第{$data.page}页 一共{$data.countnum}条记录</div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="dataTables_paginate paging_bootstrap pagination">
                                        <ul>
                                            <li class="prev"><a href="/admin/product/{$data.shangpage}">← 上一页</a></li>
                                            <li class="next"><a href="/admin/product/{$data.xiapage}">下一页 → </a></li>
                                            <li >转到第&nbsp;<input name="page11" id="page11" type="text" size="4" style=" border:1px solid #999999;" />&nbsp;页 <input name="tiaozhuan" value="跳转" type="button" onClick="tiaosubmit()"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
</section>
<!--尾部文件-->
{include file="public/foot" /}
