<div id="lianxiwomen" class="container bs-docs-container" style="text-align:center;text-align: center;background-color: #3873af;width: 1440px;height: 648px">
  <div class="row">
    <div class="col-md-12">
      <br>
      <br><br>
      <h3 href="#" style="color:#fff">联系我们</h3>
      <img src="__STATIC__/www/img/widget.png" alt=""><br><br>
    </div>
    <div class="container bs-docs-container" style="text-align:center;    text-align: center;padding-top: 193px;padding-bottom: 35px;">
      <div class="foot-text">
        {$contact_data.cu_company}<br>
        联系人:{$contact_data.cu_name}<br>
        座机/手机:{$contact_data.cu_seat}/{$contact_data.cu_phone}<br>
        传真:{$contact_data.cu_chuanzhen}<br>
        邮箱:{$contact_data.cu_email}<br>
        地址:{$contact_data.cu_access}<br>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="__STATIC__/www/js/jquery.dotdotdot.js"></script>

</body>

</html>
